# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-and-test:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x, 12.x]
        hapi-version: [18.x, 19.x]
        exclude:
            # excludes hapi 19 on node 10
            - node-version: 10.x
              hapi-version: 19.x

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm i -D @hapi/hapi@${{matrix.hapi-version}}
    - run: npm test
    # discard changes in the package-lock because of npm install
    - run: git checkout .
